body {
    font-family: Arial, sans-serif;
    background-color: #3A5B7A; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #9e9e9e;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.689);
    margin-top: 100px;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    color: #2e4256;
    font-family: serif;
}

.form {
    display: grid;
    grid-gap: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 570px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

button {
    padding: 10px 20px;
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #000000;
}

.hidden {
    display: none;
}

.top-bar {
 
    background-color: #373d42; 
    height: 80px; /* Altura da barra */
    width: 100%; /* Largura total */
    position: fixed; /* Fixa a barra no topo */
    top: 0; /* Posiciona a barra no topo */
    left: 0; /* Posiciona a barra à esquerda */
    z-index: 1000; /* Garante que a barra esteja acima de outros elementos */
    border-radius: 0px;
    display: flex; /* Permite o alinhamento vertical */
    align-items: center; /* Alinha os itens verticalmente */
    padding-left: 20px; /* Espaçamento à esquerda */
    justify-content: space-between; /* Adiciona espaço entre os elementos filhos */
}
