.topnav input[type="text"] {
    width: 200px; 
    height: 15px;
   }
   
    .top-bar {
           
           background-color: #373d42; 
           height: 80px;
           width: 100%; 
           position: fixed; 
           top: 0; /* Posiciona a barra no topo */
           left: 0; /* Posiciona a barra à esquerda */
           z-index: 1000; /* Garante que a barra esteja acima de outros elementos */
           border-radius: 0px;
           display: flex; /* Permite o alinhamento vertical */
           align-items: center; /* Alinha os itens verticalmente */
           padding-left: 20px; /* Espaçamento à esquerda */
           justify-content: space-between; /* Adiciona espaço entre os elementos filhos */
    }
   
    .top-bar .button-container {
        display: flex;
        justify-content: flex-end; /* Alinha os botões à direita */
        margin-right: 20px; /* Adiciona um espaçamento à direita */
    }
   
    .second-top-bar {
        background: linear-gradient(to right, rgb(111, 123, 138), rgb(30, 34, 38));
        height: 40px; /* Altura da barra */
        width: 100%; /* Largura total */
        position:absolute; /* Fixa a barra no topo */
        top: 80px; /* Posiciona a barra abaixo da primeira top bar */
        left: 0; /* Posiciona a barra à esquerda */
        z-index: 999; /* Garante que a barra esteja abaixo da primeira top bar */
        border-radius: 0px;
        display: flex; /* Permite o alinhamento vertical */
        align-items: center; /* Alinha os itens verticalmente */
        padding-left: 20px; /* Espaçamento à esquerda */
        justify-content: space-between; /* Adiciona espaço entre os elementos filhos */
        margin-bottom: 400px;
      
    }

    
   
    .second-top-bar .button-container {
        display: flex;
        align-items: center;
    }
   
    .second-top-bar button {
        margin-right: 180px;
        background-color: transparent;
        border: none;
        color: rgb(255, 255, 255);
        font-size: 16px;
        cursor: pointer;
    }
   
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        padding-top: 120px; /* Ajuste o padding-top para considerar a altura da segunda top bar */
        background-color: #3A5B7A; 
    }
    .properties-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .property {
        width: 340px;
        border: 1px solid #ccc;
        margin: 10px;
        padding: 10px;
        display: none; /* Oculta inicialmente todas as propriedades */
    }
    .property img {
        max-width: 100%;
        height: auto;
    }
    .property h2 {
        margin-top: 0;
    }
   
    .left-bar, .right-bar {
        background-color: #38383845; /* Cor de fundo */
        width: 17px; /* Largura das barras */
        height: 100%; /* Altura total da tela */
        position: fixed; /* Fixa as barras na tela */
        top: 0; /* Posiciona as barras no topo */
        z-index: 1000; /* Garante que as barras estejam acima de outros elementos */
    }
   
    .left-bar {
        left: 0; /* Posiciona a barra à esquerda */
    }
   
    .right-bar {
        right: 0; /* Posiciona a barra à direita */
    }