body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #475d70; 
    
  }
  
  .login-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 450px;
    height: 35px;
    
  }
  
  .login-container h2 {
    margin-top: 0;
  }
  
  .input-group {
    margin-bottom: 15px;
    width: 375px;
    margin-top: 50px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    border-radius: 20px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #001b33;;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 110px;
    width: 200px;
    height: 40px;
    margin-top: 15px;
    font-size: 17px;
  }
  
  button:hover {
    background-color: #001b33;
  }
  .top-bar {
    background-color: #373d42; 
    height: 90%; 
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    border-radius: 10px;
    display: flex; 
    align-items: center; 
    padding-left: 20px; 
    margin-bottom: 20px;
  }

  .login-container {
    text-align: center;
  }
  .login-button-container {
    margin-top: 20px;
  }
  .password-links {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .password-links label {
    color: white;
    margin-right: 10px;
  }
  .password-links a {
    color: white;
    margin-left: 20px;
  }


